.card {
    max-width: 25em;
    background-color: white;
    padding: 1em;
    box-shadow: 0 10px 30px rgba(0,0,0,0.03);
    font-family: "Montserrat", sans-serif;
    border-radius: 10px;
}

    .card img {
        max-width: 100%;
    }

    .card h4 {
        font-size: 1.3em;
        margin: 0.5em 0;
        font-weight: bold;
    }


    .card:hover {
        background-color: #212529;
        color: white;
    }

@media screen and (max-width: 576px) {
    .card {
        font-size: 0.9em;
    }
}
