.perfil-horizontal {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 10px 30px rgba(0,0,0,0.03);
    gap: 30px;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.perfil-info {
    flex: 1; 
}

.perfil-btn{
    margin-top: 10px;
}

.perfil-foto-seccion {
    flex: 0 0 250px; 
    text-align: center;
}

.img-circle-perfil {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #eee;
}

form-group-label {
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
}

@media (max-width: 600px) {
    .perfil-horizontal {
        flex-direction: column;
    }
}
