.contacto-container {
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.03);
    padding: 30px;
    max-width: 500px;
    margin: 40px auto;
}

.form-group {
    margin-bottom: 15px;
}

.form-group textarea{
    resize: none;
}

    .form-group-label {
        display: block;
        margin-bottom: 5px;
        font-weight: 500;
    }
