
.formulario {
    display: flex;
    gap: 1rem;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.03);
    margin: 20px auto;
    max-width: 1200px;
    flex-wrap: wrap;
    position: relative;
    color: black;
    font-family: "Montserrat", sans-serif;
}

.formulario-articulo {
    flex: 1;
    min-width: 0;
}

.formulario-columna.derecha {
    width: 50%;
    border-left: 1px solid #0dcaf0;
    padding-left: 1rem;
    align-self: flex-start;
    overflow: hidden;
    height: auto !important;
}

.mb-3 {
    margin-bottom: 0.5rem;
}

.mb-3 textarea{
    resize: none;
}

.mb-4 {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

.formulario-accion {
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: 1px solid #0dcaf0;
}

.botones-accion {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    width: 100%;
}
